*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 70vh auto;
    grid-template-areas: "h h"
                         "t t"
                         "c c"
                         "r r";
                          }

header{
    grid-area: h;
    background-color: #9B93FC;
}

main{
    grid-area: c;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

form > input{
    width: 270px;
    height: 25px;
    border-radius: 10px;
    background-color: #c1c1c1;
}

form > textarea{
    background-color: #c1c1c1;
}
form > label{
    display: block;
    text-align: left;
    width: 270px;
}

form > input[type="submit"]{
    padding: 0px 20px;
    width: 100px;
    margin: auto 0;
}


.btn-01{
    color: #c1c1c1;
}

.hdireita{
    grid-area: t;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main > p{
    margin-left: 400px;
}

.bloco1{
    margin-left: 400px;
    background-color: #C1C1C1;
    color: #0000003d;
    padding: 20px;
    margin-right: 380px;
}

.btn-02 {
    color: black;
    background-color: #C1C1C1;
    font-weight: 600;
    margin-left: 580px;
    border-style: solid;
} 

footer{
    grid-area: r;
    background-color: #9B93FC;
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 53px;
}

.redes-sociais{
    display: flex;
    column-gap: 10px;
   }
      
   .redes-sociais img{
       height: 30px;
   }
   
