*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{

}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 31vh 10vh;
    grid-template-areas: "h h"
                         "c c"
                         "p p"
                         "r r";
}

a{
  text-decoration: none; 
  color:black; 
}

header{
    grid-area: h;
    background-color: #9B93FC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hdireita{
    display: flex;
    column-gap: 10px;
}

main{
    grid-area: c;
    background-color: white;
}

main img {
    width: 100%;
}

aside{
    grid-area: p;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

aside > p{
    color: #C1C1C1;
}

footer{
    grid-area: r;
    background-color: #9B93FC;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.redes-sociais{
 display: flex;
 column-gap: 10px;
}
   
.redes-sociais img{
    height: 30px;
}
